Django==1.11.13
django-debug-toolbar==1.9.1
pytz==2018.4
sqlparse==0.2.4
dbfread==2.0.7
backports.functools-lru-cache==1.5
cycler==0.10.0
dbfread==2.0.7
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.3
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
six==1.11.0backports.functools-lru-cache==1.5
cycler==0.10.0
dbfread==2.0.7
Django==1.11.13
django-debug-toolbar==1.9.1
django-extensions==2.0.7
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.3
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
six==1.11.0
sqlparse==0.2.4
typing==3.6.4
Werkzeug==0.14.1
